*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.border:hover{
    border: 1px solid transparent;
    border-color:white;
   
}
.nav-section{
    height: 50px;
    width: 100%;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    display:flex;
    justify-content: space-evenly;

}

.nav-logo{
    height: 40px;
    width: 100px;              /* IMPORTANT */
    margin-left: 20px;
    background-image: url("amazonlogo.png");
    background-size: contain;  /* logo fit hoil */
    background-repeat: no-repeat;
}
.nav-address{
    height:40px;
    width:100px;
    margin-left:20px;
    color:#ffffff;
    font-size:12px;
    margin-left:20px;
    }
.add-icon{
    height:20px;
    width:20px;
    display:flex;
    color:#ffffff;
    font-size:14px;
    align-items: center;

}
#dilivary{
    font-size:12px;
    margin-left:15px;
}
#country {
    font-size:12px;
    margin-left:5px;
}
.nav-search{
    display: flex;
    align-items: center;
    height: 35px;
    justify-content: space-evenly;

}
.search-select{
    height: 100%;
    width: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search-input{
    height: 100%;
    width: 800px;
    border: none;
    padding:7px 10px 10px 0px;
    font-size:17px;
}
.search-icon{
    height:100%;
    width:40px;
    background-color:#f19114;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign{
    height:100%;
    width:150px;
    align-items:center;
    justify-content: center;
    padding:10px 4px 8px 9px;
    margin-left:20px;

}
#hello{
    font-size:12px;
    color:#d6d6d6;
}
#account{
    font-size:14px;
    font-weight: bold;
    color:#ffffff;
}
.return-order{
    height:100%;
    width:150px;
    align-items:center;
    justify-content: center;
    padding:10px 4px 8px 9px;
     margin-left:20px;

}
#return{
    font-size:12px;
    color:#d6d6d6;
    margin-left:10px;
}
#order{
    font-size:14px;
    font-weight: bold;
    color:#ffffff;
}
.nav-buy{
     height:100%;
    width:150px;
    align-items:center;
    justify-content: center;
    padding:0px 4px 8px 9px;
    
}
.buy-icon{
    height:50px;
    width:50px;
    display:flex;
    align-items: center;
    justify-content: center;
   color:#ffffff;
    
}
#cart{
    font-size:14px;
    font-weight: bold;
    color:#ffffff;
    margin-left:3px;
}
.nav-panal{
    height:30px;
    width:100%;
    padding:0 0 0 18px;
    background-color: #232f3e;
    justify-content: flex;
    display:flex;
}
.panal-all{
    height:100%;
    width:100px;
    display:flex;
    align-items: center;
   justify-content: space-evenly;
   padding-top:10px;
   justify-content: flex-start;
}
.panal-all-icon{
   height:30px;
   width: 30px;
   color:#ffffff;
   display: flex;
   margin-left:10px;
}
#icon-label{
    font-size:14px;
    color:#ffffff;
    margin-left:10px;
    font-weight:bold;
}
.panal-box1{
    height:100%;
    width: 100px;
    display:flex;
    align-items: center;
   justify-content: space-evenly;
   color:#ffffff;
}
.max-player{
    height:100%;
    width:150px;
    display:flex;
    align-items: center;
   justify-content: space-evenly;
   color:#ffffff;
}
.sell{
    height:100%;
    width:100px;
    display:flex;
    align-items: center;
   justify-content: space-evenly;
   color:#ffffff;

}
.bestselers{
    height:100%;
    width:100px;
    display:flex;
    align-items: center;
   justify-content: space-evenly;
   color:#ffffff;
}
.mobles{
    height:100%;
    width:100px;
    display:flex;
    align-items: center;
   justify-content: space-evenly;
   color:#ffffff;
}
.todays-deal{
    height:100%;
    width:150px;
    display:flex;
    align-items: center;
   justify-content: space-evenly;
   color:#ffffff;
}
.customer-service{
    height:100%;
    width:200px;
    display:flex;
    align-items: center;
   justify-content: space-evenly;
   color:#ffffff;
}
.prime{
    height:100%;
    width:100px;
    display:flex;
    align-items: center;
   justify-content: space-evenly;
   color:#ffffff;
}
.amazon-pay{
    height:100%;
    width:150px;
    display:flex;
    align-items: center;
   justify-content: space-evenly;
   color:#ffffff;
}
.fasion{
    height:100%;
    width:150px;
    display:flex;
    align-items: center;
   justify-content: space-evenly;
   color:#ffffff;

}
.electronics{
    height:100%;
    width:150px;
    display:flex;
    align-items: center;
   justify-content: space-evenly;
   color:#ffffff;
}
.home{
    height:100%;
    width:150px;
    display:flex;
    align-items: center;
   justify-content: space-evenly;
   color:#ffffff;
}
.books{
    height:100%;
    width:150px;
    display:flex;
    align-items: center;
   justify-content: space-evenly;
   color:#ffffff;
}
.computers{
    height:100%;
    width:150px;
    display:flex;
    align-items: center;
   justify-content: space-evenly;
   color:#ffffff;
}
.health{
    height:100%;
    width:150px;
    display:flex;
    align-items: center;
   justify-content: space-evenly;
   color:#ffffff;
}
.main-home{
    height: 50%;            
    background-size: cover;  
    background-repeat: no-repeat;
 background-image: url("home.jpg");
    display:flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom:40px;
}
.home-msg{
    height:50px;
    width:90%;
    display:flex;
    align-items:center;
    background-color: #ffffff;
    color:black;
    justify-content: center;
    font-size:20px;
    
}
.home-msg a{
    text-decoration: none;
    color:blue;
    font-weight: bold;
}
.shoping{
    height:1300px;
    display: flex;
    justify-content: space-evenly;
    background-color:#F5DEB3; 
    flex-wrap: wrap;
}
.box{
    height:400px;
    width:23%;
    background-color: #ffffff;
    padding:15px 0px 15px;
    margin-top:10px;

}
.box-img{
    height:80%;
    background-image:contain ;
    background-repeat: no-repeat;
    margin-top:1rem;
    margin-bottom:1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem; 
}
.box1{
    height:400px;
    width:97%;
    background-color: #ffffff;
    padding:15px 0px 15px;
    margin-top:10px;
}
.footer-section{
    height:30px;
    width:100%;
    background-color: #21334a;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#ffffff;
}
.footer-panal2{
    background-color: #222f3d;
    height:400px;
    width:100%;
    color:#ffffff;
    display: flex;
    justify-content: space-evenly;

}
ul{
    margin-top:30px;
}
ul a{
    display:block;
    font-size: 0.85rem;
    color:#dddddd;
    margin-top:10px;

}
ul p{
    font-size: 20px;
    display:bold;

}
.footer-section:hover{
    background-color: #375478;;
}
.last-footer{
    background-color: #222f3d;
    height:80px;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    background-image: url('last-logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height:80px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    color:#ffffff;
}